.custom_carousel,
.carousel-inner,
.carousel-item{
    height: 200px;
    width: 100%;
    
}

.carousel-item img{
    height: 100%;
    width: auto;
    object-fit: contain;
    object-position: 5px;
}